body{
background-color: rgb(255, 255, 255);
}
.inicio{
.titulo-inicio{
    text-align: center;
    color: rgb(255, 0, 0);
    font-size: 60px;

}
.nav-inicio{
    text-align: center;
    color: rgb(55, 0, 255);
    font-size: 30px;
}
}
.publidibu1{
.publidibu1img1{
    width: 10%;
}
.publidibu1img2{
    width: 13%;
}
}